/* Ensure the body and html take full width */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/* Make the container inside App fill the entire screen */
div {
  width: 100%;
  max-width: 99%;
}

/* Optional: style the text to be more readable */
h1,
h2,
h3 {
  margin: 10px;
}
